@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para elementos option en modo oscuro */
.dark select option {
  @apply bg-slate-700 text-white;
}

select option {
  @apply bg-white text-slate-900;
}
